.top-navigation {
  padding: 50px 0;
  background: linear-gradient(180deg, #5DCAE4 0%, #0070E1 100%);
  min-height: 450px;
  padding-top: 190px;
}

@media (max-width: 1024px) {
  .top-navigation {
    min-height: 350px;
    padding-top: 150px;
  }
}

@media (max-width: 540px) {
  .top-navigation {
    min-height: auto;
    padding-top: 120px;
  }
}

.top-navigation.top-navigation--custom {
  height: auto;
}

.top-navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 940px) {
  .top-navigation__wrapper {
    flex-direction: column;
  }
}

.top-navigation-breadcrumbs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.top-navigation .custom-bredcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.top-navigation .title {
  color: #fff;
  margin-top: 25px;
}

.top-editor {
  color: white;
  font-size: 15px;
  margin-top: 20px;
}

.top-map iframe {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border-radius: 12px;
  margin: 30px auto 0;
  display: block;
}

.top-img-box {
  max-width: 600px;
  max-height: 300px;
  overflow: hidden;
  border-radius: 12px;
}

.top-img-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.top-navigation__col {
  width: 50%;
}

.wp-singular .top-navigation__col {
  width: 65%;
}

@media (max-width: 940px) {
  .top-navigation__col {
    width: 100%;
  }

  .wp-singular .top-navigation__col {
    width: 100%;
  }
}

.top-map iframe {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  display: block;
}

@media (max-width: 940px) {
  .top-img-responsive {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .top-img-responsive {
    display: none !important;
  }
}

.top-img-box img.top-img {
  width: 635px;
  height: 300px;
  object-fit: cover;
  max-width: 100%;
}