.experience {
  padding: 50px 0;
}

@media (max-width: 1024px) {
  .experience {
    padding: 25px 0;
  }
}

.experience__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 1024px) {
  .experience__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 10px;
  }
}

.experience__inner {
  max-width: 640px;
  width: 100%;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 1024px) {
  .experience__inner {
    max-width: 100%;
  }
}

.experience__sub-title {
  display: block;
  margin-bottom: 15px;
}

.experience__title {
  margin-bottom: 15px;
}

.experience__descr {
  margin-bottom: 25px;
}

.experience__descr p {
  font-size: 15px;
  margin: 0 0 10px;
}

.experience__descr p:last-child {
  margin-bottom: 0;
}

.experience__box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 560px) {
  .experience__box-btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.experience__img-box {
  max-width: 500px;
  width: 100%;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
  aspect-ratio: 1/1;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .experience__img-box {
    max-width: 100%;
    aspect-ratio: auto;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

.experience__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

@media (max-width: 1024px) {
  .experience__img {
    height: auto;
    aspect-ratio: 2/1.2;
  }
}

.experience__img-box--mobile {
  display: none;
}

.experience__img-box--desktop {
  display: block;
}

@media (max-width: 1024px) {
  .experience__img-box--mobile {
    display: block;
    margin-bottom: 25px;
  }

  .experience__img-box--desktop {
    display: none;
  }
}

.our-slider {
  padding: 50px 0;
}

@media (max-width: 1024px) {
  .our-slider {
    padding: 25px 0;
  }
}

.our-slider__title {
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .our-slider__title {
    margin-bottom: 25px;
  }
}

.our-slider .blaze-our-slider {
  margin-bottom: 25px;
}

.our-slider .blaze-track-container {
  padding: 5px;
  margin-bottom: 25px;
}

.our-slider .blaze-track div {
  max-height: 350px;
}

@media (max-width: 480px) {
  .our-slider .blaze-track div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.our-slider .blaze-track div img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 16px;
}

.our-slider .blaze-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.our-slider .blaze-pagination button {
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.5px solid #181c1f;
  background: transparent;
  margin: 0 6px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
}

.our-slider .blaze-pagination button.active {
  width: 60px;
  border: 1px solid #0070e1;
  border-radius: 32px;
  background-color: transparent;
}

.our-slider .our-slider__box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.systems {
  padding: 50px 0;
}

@media (max-width: 1024px) {
  .systems {
    padding: 25px 0;
  }
}

.systems__header {
  max-width: 635px;
  margin-bottom: 50px;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .systems__header {
    margin-bottom: 25px;
  }
}

.systems__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media (max-width: 890px) {
  .systems__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 767px) {
  .systems__grid {
    gap: 30px;
  }
}

.systems__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .systems__top {
    margin-bottom: 10px;
  }
}

.systems__icon {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
  object-fit: contain;
}

.systems__item-title {
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .systems__item-title {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .systems__item-title {
    font-size: 16px;
  }
}

.systems__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.systems__inner-left {
  min-width: 120px;
  width: 120px;
}

@media (max-width: 560px) {
  .systems__inner-left {
    min-width: 100px;
    width: 100px;
  }
}

.systems__inner-right,
.systems__inner-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.systems__number {
  font-size: clamp(1.125rem, 0.8519rem + 1.165vw, 2.25rem);
  font-weight: 600;
  margin-bottom: 10px;
  min-height: 42px;
}

.systems__desc {
  line-height: 1.4;
  margin-bottom: 10px;
  margin-top: 0;
}

@media (max-width: 560px) {
  .systems__label {
    font-size: 13px;
  }
}

.lift {
  padding: 50px 0;
}

@media (max-width: 1024px) {
  .lift {
    padding: 25px 0;
  }
}

.lift__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}

.lift__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 640px;
}

.lift__label {
  display: inline-block;
  background: #eaf6f9;
  color: #000;
  padding: 8px 20px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.lift__title {
  margin-bottom: 15px;
}

.lift__text {
  margin-bottom: 25px;
}

@media (max-width: 480px) {
  .lift__text {
    margin-bottom: 15px;
  }
}

.lift__text p {
  margin-top: 0;
  margin-bottom: 10px;
}

.lift__text p:last-child {
  margin: 0;
}

.lift__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lift__image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 767px) {
  .lift__image {
    display: none;
  }
}

.contact-section {
  padding: 50px 0;
}

@media (max-width: 1024px) {
  .contact-section {
    padding: 25px 0;
  }
}

.contact-section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 1024px) {
  .contact-section__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.contact-section__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 640px;
}

@media (max-width: 1024px) {
  .contact-section__content {
    max-width: 100%;
  }
}

.contact-section__title {
  margin-bottom: 15px;
}

.contact-section__text {
  margin-bottom: 15px;
}

.contact-section__text p {
  margin: 0 0 10px 0;
}

.contact-section__text p:last-child {
  margin-bottom: 0;
}

.contact-section__image {
  max-width: 640px;
}

@media (max-width: 1024px) {
  .contact-section__image {
    max-width: 100%;
  }
}

.contact-section__image img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.contact-section__form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 635px;
  margin-top: -40px;
}
.contact-section__quote--mobile {
  display: none;
}

@media (max-width: 1024px) {
  .contact-section__form {
    max-width: 100%;
  }
  .contact-section__quote {
    display: none;
    font-size: 15px;
  }
  .contact-section__quote--mobile {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
