.experience {
  padding: 50px 0;
}

@media (max-width: 1024px) {
  .experience {
    padding: 25px 0;
  }
}

.experience__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 1024px) {
  .experience__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 10px;
  }
}

.experience__inner {
  max-width: 640px;
  width: 100%;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 1024px) {
  .experience__inner {
    max-width: 100%;
  }
}

.experience__sub-title {
  display: block;
  margin-bottom: 15px;
}

.experience__title {
  margin-bottom: 15px;
}

.experience__descr {
  margin-bottom: 25px;
}

.experience__descr p {
  font-size: 15px;
  margin: 0 0 10px;
}

.experience__descr p:last-child {
  margin-bottom: 0;
}

.experience__box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 560px) {
  .experience__box-btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.experience__img-box {
  max-width: 500px;
  width: 100%;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
  aspect-ratio: 1/1;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .experience__img-box {
    max-width: 100%;
    aspect-ratio: auto;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

.experience__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

@media (max-width: 1024px) {
  .experience__img {
    height: auto;
    aspect-ratio: 2/1.2;
  }
}

.experience__img-box--mobile {
  display: none;
}

.experience__img-box--desktop {
  display: block;
}

@media (max-width: 1024px) {
  .experience__img-box--mobile {
    display: block;
    margin-bottom: 25px;
  }

  .experience__img-box--desktop {
    display: none;
  }
}