/* logo */
@media (max-width: 999.9px) {
    .custom-logo-size svg {
        width: 100px;
    }
}

@media (max-width: 689.9px) {
    .custom-logo-size svg {
        width: 75px;
    }
}


/* footer */

#footer .ct-header-content-block {
    margin-top: 0 !important;
}

#footer .footer-content {
    color: #fff;
}

#footer .footer-content .wp-block-site-logo {
    margin-bottom: 15px;
}

#footer .footer-content p {
    margin-bottom: 10px;
}

#footer .widget_nav_menu .widget-title {
    color: #fff !important;
}

#footer .widget_nav_menu li {
    margin-bottom: 10px;
}

#footer .widget_nav_menu li:last-child {
    margin-bottom: 0;
}

/* custom shadow input field form */
form.custom-form-tabs .ff-el-group input:not([type="radio"]):not([type="checkbox"]),
form.custom-form-tabs .ff-el-group select,
form.custom-form-zier .ff-el-group input:not([type="radio"]):not([type="checkbox"]),
form.custom-steps-form .ff-el-group input:not([type="radio"]):not([type="checkbox"]),
form.custom-steps-form .ff-el-group select,
form.custom-steps-form .ff-el-group input:not([type="radio"]):not([type="checkbox"]) {
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 45px;
    border-radius: 8px;
}

form.custom-form-tabs .ff-el-group textarea,
form.custom-form-zier .ff-el-group textarea,
form.custom-steps-form .ff-el-group textarea,
form.custom-steps-form .ff-el-group textarea {
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    resize: none;
    max-height: 140px;
}

form.custom-form-tabs .ff-el-group input:not([type="radio"]):not([type="checkbox"])::placeholder,
form.custom-form-tabs .ff-el-group input:not([type="radio"]):not([type="checkbox"])::-webkit-input-placeholder,
form.custom-form-tabs .ff-el-group input:not([type="radio"]):not([type="checkbox"]):-ms-input-placeholder,
form.custom-form-tabs .ff-el-group input:not([type="radio"]):not([type="checkbox"])::-ms-input-placeholder {
    color: #7B7B7B;
}

/* custom radio btn form */

form.custom-form-tabs .ff-el-group label.ff-el-form-check-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

form.custom-form-tabs .ff-el-group input[type="radio"],
form.custom-steps-form .ff-el-group input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #7B7B7B;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
}

form.custom-form-tabs .ff-el-group input[type="radio"]:checked,
form.custom-steps-form .ff-el-group input[type="radio"]:checked {
    background-color: #004F9F;
    border-color: #004F9F;
}

form.custom-form-tabs .ff-el-group input[type="radio"]:checked::after,
form.custom-steps-form .ff-el-group input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form.custom-form-tabs .ff-el-form-check-label span {
    color: #7B7B7B;
}

form.custom-form-tabs .ff-el-form-check-input:checked+span {
    color: #2C2C2C;
}

/* custom checkbox form */
.ff-el-form-check-input.ff-el-form-check-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid #7B7B7B;
    border-radius: 4px;
    position: relative;
    vertical-align: middle;
    margin-right: 0.75em;
    flex-shrink: 0;
    cursor: pointer;
}

.ff-el-form-check-input.ff-el-form-check-checkbox+span {
    color: #7B7B7B;
    vertical-align: middle;
    cursor: pointer;
}

.ff-el-form-check-input.ff-el-form-check-checkbox:checked {
    background-color: #004F9F;
    border-color: #004F9F;
}

.ff-el-form-check-input.ff-el-form-check-checkbox:checked+span {
    color: #2C2C2C;
}

/* custom arrow for select fild form */
.with-arrow select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 2.5em;
}

.with-arrow {
    position: relative;
}

.with-arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    width: 0.6em;
    height: 0.4em;
    pointer-events: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width='10'%20height='6'%20viewBox='0%200%2010%206'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M1%200l4%204%204-4'%20stroke='%23333'%20stroke-width='1.5'%20fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
}

form.custom-form-tabs .contact-container-btns {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1150px) {
    form.custom-form-tabs .contact-container-btns {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    form.custom-form-tabs .contact-container-btns {
        flex-direction: row;
    }
}



form.custom-form-tabs .contact-container-btns .ff-t-cell.ff-t-column-2 {
    width: fit-content;
    flex-basis: 0 !important;
}

@media (max-width: 768px) {
    form.custom-form-tabs .contact-container-btns .ff-t-cell.ff-t-column-2 {
        flex-basis: 100% !important;
    }
}

/* custom pdf svg for form*/
.custom-pgf-info .ff_t_c p {
    display: inline-flex;
    align-items: center;
}

.custom-pgf-info .ff_t_c a:first-child {
    position: relative;
    color: #2C2C2C;
    text-decoration: none;
    transition: color ease-in 0.3s;
    padding-left: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

@media (max-width: 480px) {
    form.custom-form-tabs .contact-container-btns .ff-t-cell.ff-t-column-1 {
        flex-basis: auto !important;
    }

    .custom-pgf-info .ff_t_c a:first-child {
        white-space: normal;
    }
}

.custom-pgf-info .ff_t_c a:last-child {
    margin-left: 10px;
    color: #004F9F;
    text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
    .custom-pgf-info .ff_t_c a:first-child:hover {
        color: #004F9F;
    }

    .custom-pgf-info .ff_t_c a:last-child:hover {
        text-decoration: underline;
        color: #0086B4;
    }
}

.custom-pgf-info .ff_t_c a:first-child::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    box-sizing: content-box;
    background-image: url('../images/icons/pdf-icon.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    padding: 12.5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 16px;
    transition: all ease-in 0.3s;
    left: 0;
}

@media (hover: hover) and (pointer: fine) {
    .custom-pgf-info .ff_t_c a:hover::before {
        transform: scale(1.08);
        filter: invert(34%) sepia(79%) saturate(544%) hue-rotate(186deg) brightness(93%) contrast(92%);
    }
}

@media (max-width: 560px) {
    .custom-pgf-info .ff_t_c a:first-child {
        padding-left: 50px;
    }

    .custom-pgf-info .ff_t_c a:first-child::before {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        padding: 10px;
    }
}

/* custom icon upload  */

.custom-file-form .ff_upload_btn.ff-btn {
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FAFBFC !important;
    color: #2C2C2C !important;
    padding: 15px 20px 15px 50px !important;
    border-radius: 32px;
    border: 1px solid transparent;
    border: none;
    transition: border-color ease-in 0.3s;
}

.custom-file-form .ff_upload_btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/upload-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform ease-in 0.3s;

}

.custom-file-form .ff-el-input--content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .custom-file-form .ff-el-input--content {
        align-items: flex-start;
    }
}

@media (hover: hover) and (pointer: fine) {
    .custom-file-form .ff_upload_btn.ff-btn:hover {
        border-color: #004F9F;
        background-color: #fff;
    }

    .custom-file-form .ff_upload_btn:hover::before {
        transform: translateY(-50%) scale(1.1);
    }

}

/*custom button form  */

form .ff_submit_btn_wrapper_custom .ff-btn-submit.button-global {
    all: unset;
    position: relative;
    display: inline-block;
    min-width: 250px;
    padding: 10px 50px !important;
    text-align: center;
    overflow: hidden;
    border-radius: 40px;
    border: 2px solid transparent;
    background: transparent;
    cursor: pointer;
    white-space: normal !important;
    overflow-wrap: anywhere;
    word-break: break-word;
    min-width: 0;
}

form .ff_submit_btn_wrapper_custom .ff-btn-submit.button-global .button-global__text {
    font-size: 14px;
}

@media (max-width: 768px) {
    form .ff_submit_btn_wrapper_custom .ff-btn-submit.button-global {
        padding: 10px 15px !important;
    }

}

/* custom header button */

.button-global-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 32px;
    z-index: 1;
    height: 100px;
    padding-left: 10px;
}

.button-global-wrapper .button-global {
    all: unset;
    position: relative;
    display: inline-block;
    width: fit-content;
    padding: 10px 50px !important;
    text-align: center;
    overflow: hidden;
    border-radius: 40px;
    border: 2px solid transparent;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
}

/* buttom bottom in page */

.custom-hardness-wrapper {
    position: fixed;
    bottom: 38px;
    right: 80px;
    z-index: 5;
    transform: translateY(20px);
    transition: all 0.3s ease;
    opacity: 1;
    margin: 0 !important;
}

.custom-hardness-wrapper[style*="opacity: 0"] {
    transform: translateY(20px);
    transition: all 0.3s ease;
}

.custom-hardness-wrapper .custom-btn-bottom {
    height: 44px;
}

@keyframes innerGlow {
    0% {
        box-shadow: inset 0 0 5px #2ea3f2;
    }

    50% {
        box-shadow: inset 0 0 15px #2ea3f2;
    }

    100% {
        box-shadow: inset 0 0 5px #2ea3f2;
    }
}


.custom-hardness-wrapper .custom-btn-bottom a {

    animation: innerGlow 2.5s infinite;
}

@media (hover: hover) and (pointer: fine) {

    .custom-hardness-wrapper .custom-btn-bottom a:hover,
    .js-gs-floating-button:hover {
        background-color: #0073e6 !important;
        color: #fff !important;
        transition: all 0.3s ease !important;
    }
}

@media (max-width: 999.9px) {
    .custom-hardness-wrapper {
        right: 60px;
    }
}

@media (max-width: 689.9px) {
    .custom-hardness-wrapper {
        right: 10px;
    }

    .custom-hardness-wrapper .custom-btn-bottom a {
        padding: 8px 10px !important;
    }
}

/* news-section */
.news-section {
    padding: 50px 0;
}

.news-section--title {
    margin-bottom: 50px;
}

@media (max-width: 1024) {
    .news-section {
        padding: 25px 0;
    }

    .news-section--title {
        margin-bottom: 25px;
    }
}

/* color top header singl page*/

body.single [data-row="top:boxed"] .ct-header-text,
body.single [data-row="top:boxed"] .ct-contact-info .contact-info .contact-text,
body.single [data-row="top:boxed"] .ct-contact-info .contact-info .contact-text a {
    color: #fff;
    transition: color ease-in 0.4s;
}

body.single [data-row="top:boxed"] .ct-contact-info li .ct-icon-container svg path {
    fill: #fff;
    transition: fill ease-in 0.4s;
}

@media (hover: hover) {
    body.single [data-row="top:boxed"] .ct-contact-info li:hover .contact-text a {
        color: #0073e6;
    }

    body.single [data-row="top:boxed"] .ct-contact-info li:hover .ct-icon-container svg path {
        fill: #0073e6;
    }
}

/* custom form steps */

form.custom-steps-form .fluentform .ff-el-progress-bar {
    background-color: #1a7efb !important;
}

form.custom-steps-form .first-steps-img-container .ff_el_checkable_photo_holders label.ff-el-image-input-src {
    margin: 0 auto;
}

form.custom-steps-form .step-nav button.ff-btn,
form.custom-steps-form .steps-pagination button.ff-btn {
    padding: 5px 30px;
    border: 1px solid #1a7efb;
    background-color: #fff;
    color: #2C2C2C;
    border-radius: 32px;
    transition: background ease-in 0.3s;
}

@media (hover: hover) {

    form.custom-steps-form .step-nav button.ff-btn:hover,
    form.custom-steps-form .steps-pagination button.ff-btn:hover {
        background-color: #1a7efb;
    }
}

form.custom-steps-form .steps-btn-container {
    text-align: left !important;
}

form.custom-steps-form .ff-el-group.custom-file-form .ff-el-input--content {
    align-items: flex-start;
}

form.custom-steps-form .custom-img-steps img {
    border-radius: 32px;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .frm-fluent-form .ff-t-container.custom-size-img {
        flex-direction: column !important;
    }
}

@media (max-width: 1024px) {
    .frm-fluent-form .ff-t-container.custom-size-img {
        flex-direction: row !important;
    }
}

@media (max-width: 1200px) {
    form.custom-steps-form .custom-img-steps img {
        max-height: 500px;
    }
}


button.ff-btn.ff-btn-submit.ff-btn-md.steps-btn.ff_btn_style.wpf_has_custom_css.button-global {
    width: 250px;
}


@media (max-width: 560px) {
    button.ff-btn.ff-btn-submit.ff-btn-md.steps-btn.ff_btn_style.wpf_has_custom_css.button-global {
        width: 200px;
    }
}

form.custom-steps-form .error.text-danger {
    margin-top: 8px;
}

/* custom color arrow scroll to top */

a.ct-back-to-top.ct-hidden-sm.ct-show {
    border: 1px solid #0073e6;
}

/* custom Impressum*/

.wp-singular #post-1899 .wp-block-heading,
.wp-singular #post-1026 .wp-block-heading {
    margin-bottom: 15px;
    margin-top: 0;
}

.wp-singular #post-1899 p,
.wp-singular #post-1026 p {
    margin-bottom: 8px;
}


/* custom buttom on the bottom page */
.gs-floating-button {
    position: fixed;
    bottom: 38px;
    left: 65px;
    z-index: 5;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 44px;
    padding: 0 26px;
    border-radius: 999px;
    background-color: #ffffff;
    border: 2px solid #2ea3f2;
    color: #0073e6;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    -webkit-box-shadow: inset 0 0 6px rgba(46, 163, 242, 0.4);
    box-shadow: inset 0 0 6px rgba(46, 163, 242, 0.4);
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    -webkit-animation: gsInnerPulse 2.5s infinite;
    animation: gsInnerPulse 2.5s infinite;
}

@-webkit-keyframes gsInnerPulse {
    0% {
        -webkit-box-shadow:
            inset 0 0 5px rgba(46, 163, 242, 0.4);
        box-shadow:
            inset 0 0 5px rgba(46, 163, 242, 0.4);
    }

    50% {
        -webkit-box-shadow:
            inset 0 0 15px rgba(46, 163, 242, 0.9);
        box-shadow:
            inset 0 0 15px rgba(46, 163, 242, 0.9);
    }

    100% {
        -webkit-box-shadow:
            inset 0 0 5px rgba(46, 163, 242, 0.4);
        box-shadow:
            inset 0 0 5px rgba(46, 163, 242, 0.4);
    }
}

@keyframes gsInnerPulse {
    0% {
        -webkit-box-shadow:
            inset 0 0 5px rgba(46, 163, 242, 0.4);
        box-shadow:
            inset 0 0 5px rgba(46, 163, 242, 0.4);
    }

    50% {
        -webkit-box-shadow:
            inset 0 0 15px rgba(46, 163, 242, 0.9);
        box-shadow:
            inset 0 0 15px rgba(46, 163, 242, 0.9);
    }

    100% {
        -webkit-box-shadow:
            inset 0 0 5px rgba(46, 163, 242, 0.4);
        box-shadow:
            inset 0 0 5px rgba(46, 163, 242, 0.4);
    }
}

@media (hover: hover) and (pointer: fine) {
    .gs-floating-button:hover {
        color: #005bb8;
        -webkit-box-shadow:
            inset 0 0 16px rgba(46, 163, 242, 0.9),
            0 0 10px rgba(46, 163, 242, 0.6);
        box-shadow:
            inset 0 0 16px rgba(46, 163, 242, 0.9),
            0 0 10px rgba(46, 163, 242, 0.6);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

@media (max-width: 689.9px) {
    .gs-floating-button {
        padding: 8px 18px;
        font-size: 13px;
    }
}

@media (max-width: 560px) {

    .gs-floating-button {
        left: auto;
        right: 10px;
        width: fit-content;
        bottom: 90px;
    }
}

.gs-floating-button--hidden {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: opacity 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}