.main-section {
  position: relative;
  z-index: 1;
  height: 100vh;
}

.main-section__bg-video {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-section__bg-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  pointer-events: none;
}

.main-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.main-section__inner {
  max-width: 890px;
  width: 100%;
  margin-inline: auto;
  padding: clamp(28px, 4vw, 48px) clamp(24px, 3vw, 40px);
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.3490196078);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.3490196078);
  border: 1px solid #fff;
  border-radius: 32px;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  backdrop-filter: blur(16px) saturate(160%);
  -webkit-backdrop-filter: blur(16px) saturate(160%);
  background-color: hsla(190, 100%, 97%, 0.65);
  text-align: center;
}

.main-section__title {
  font-size: clamp(26px, 5vw, 40px);
  line-height: 1.15;
  margin-bottom: 20px;
  font-weight: 700;
}

.main-section__description {
  margin-bottom: 25px;
  color: #444c56;
  line-height: 1.3;
}

.main-section__description p {
  margin: 0;
}

.main-section__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 28px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 825px) {
  .main-section__btn-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
  }

  .main-section__btn-box a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 15px;
    text-align: center;
  }
}

.button-global.button-global--white.button-global--main.button-global--career {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0bbbef;
  gap: 5px;
  font-size: 16px;
}

@media (max-width: 825px) {
  .button-global.button-global--white.button-global--main.button-global--career {
    font-size: 15px;
  }
}

.button-global.button-global--white.button-global--main.button-global--career span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}